@import './../../global/global.css';
@import './../../global/spacing.css';
@import './../../global/typo.css';

:host {
    display: block;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    font-family: Arial, sans-serif;
}
  
div.sm {
    height: 40px;
    width: 320px;
}

div.md {
    height: 48px;
    width: 320px;
}

label {
    color:#4B5565;
    margin-bottom: 8px;
    width: 100%;
}

.icon-wrapper {
    position: absolute;
    left: 9px; 
    display: flex;
    align-items: center; 
}

.avatar-icon {
    width: var(--spacing-5);
}

.icon {
    width: var(--spacing-5);
    height: var(--spacing-5);
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--spacing-3);
    align-self: stretch;
}

select {
    width: 100%;
    padding: 12px 40px 12px 12px; 
    padding-left: 30px;
    border: 1px solid #CDD5DF;
    border-radius: 8px;
    background-color:#FFFFFF;
    color: #CDD5DF;
    font-family: var(--Font-Family-Body, Sora);
    font-size: var(--Font-Size-T-md, 16px);
    font-style: normal;
    font-weight: var(--Font-Weight-Regular, 400);
    line-height: var(--Font-Line-height-T-md, 24px);
    letter-spacing: var(--Font-Letter-spacing-T-md, 0px); 
    box-sizing: border-box;
}

select.filled {
    color:#4B5565;
    border: 1px solid #CDD5DF; 
}
  
select:focus {
    border: 1px solid #075DB2; 
    color:#4B5565;
}


select:disabled [state = 'disabled'] {
    background-color: #F6F8FA; 
    color: #697586; 
    border-color: 1px solid #CDD5DF; 
    cursor: not-allowed;
}
  
.help-icon {
    position: absolute;
    right: 30px;
    pointer-events: auto; 
}
  
.help-icon svg {
    width: var(--spacing-4);
    height: var(--spacing-4);
}
  
.hint-text {
    font-size: 14px;
    color: #697586;
    margin-top: 4px;
    width: 100%;
}


