@import './../../global/global.css';
@import './../../global/spacing.css';
@import './../../global/typography.css';

.dropdown-container {
    display: flex;
    padding: var(--spacing-1);
    align-items: center;
    gap: var(--spacing-none);
    border-radius: var(--rounded-none);
    cursor: pointer;
}

.dropdown-item {
    display: flex;
    height: 2.5rem;
    padding: var(--spacing-2);
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-2);
    flex: 1 0 0;
    border-radius: var(--rounded-xs);
    cursor: pointer;
    color: var(--color-text, #4B5565);
    font-family: var(--Font-Family-Body, Sora);
    font-style: normal;
    letter-spacing: var(--Font-Letter-spacing-T-md, 0px);
}

::slotted([slot='name']) {
    font-size: var(--Font-Size-T-md, 16px);
    font-weight: var(--Font-Weight-Medium, 500);
    line-height: var(--Font-Line-height-T-md, 24px); /* 150% */
}

::slotted([slot="supporting_text"]) {
    font-size: var(--Font-Size-T-sm, 14px);
    font-weight: var(--Font-Weight-Regular, 400);
    line-height: var(--Font-Line-height-T-sm, 20px); /* 142.857% */
}

.dropdown-item:hover {
    background-color: #EEF2F6;
}

.dropdown-item:active {
    background-color: #E3E8EF;
}

.dropdown-item--disabled {
    color: #CDD5DF;
    cursor: not-allowed;
}

.dropdown-item--disabled svg path {
    stroke: #CDD5DF;
}

.dropdown-item--selected {
    display: flex;
    justify-content: space-between;
    background-color: #E4F0FC;
}

.dropdown-item--selected:hover {
    background-color: #b7d2ec;
}

.dropdown-item--selected:active {
    background-color: #C8E0F9;
}

.dropdown-item--disabled.dropdown-item--selected {
    background-color: #FFFFFF;
    cursor: not-allowed;
    color: #CDD5DF;
}

.dropdown-item--disabled.dropdown-item--selected svg path {
    stroke: #CDD5DF;
}

gb-checkbox {
    padding-top: 4px;
}

.text {
    display: flex;
    padding: var(--spacing-none);
    align-items: center;
    gap: var(--spacing-2);
    align-self: stretch;
}

.dropdown-item--selected slot {
    flex-grow: 1;
    margin-right: 8px;
}

.dropdown-item--selected svg:last-of-type {
    margin-left: auto;
    display: flex;
    align-items: center;
}


