/* @import '../../global/global.css';
@import './../../global/spacing.css'; */

.btn{
    width: 150px;
    background-color: var(--brandDarkBlue-400);
    border-radius: var(--rounded-xl);
    color: var(--base-white);
    border: none;
    padding: var(--spacing-2);
}