@import './../../global/spacing.css';

:host{
    position: relative;
}

.tooltip{
    position: absolute;
}

.tooltip.xs{
    top: -150%;
    left: -90%;
}

.tooltip.sm{
    top: -120%;
    left: -61%;
}

.tooltip.md{
    top: -100%;
    left: -41%;
}

.avatar_back.default{
    border: 1px dashed #CDD5DF;
    border-radius: var(--rounded-full);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Sizes */
.avatar_back.xs{
    width: var(--spacing-6);
    height: var(--spacing-6);
}

.avatar_back.sm{
    width: var(--spacing-7);
    height: var(--spacing-7);
}

.avatar_back.md{
    width: var(--spacing-8);
    height: var(--spacing-8);
}

.plus_sign.xs{
    width: var(--spacing-4);
    height: var(--spacing-4);
}

.plus_sign.md{
    width: var(--spacing-5);
    height: var(--spacing-5);
}

/* States */
.avatar_back.default:hover, .plus_sign.default:hover{
    background-color: #EEF2F6;
}

.avatar_back.default:active, .plus_sign.default:active{
    background-color: #E3E8EF;
}

.avatar_back.disabled{
    border: 1px dashed #E3E8EF;
    background-color: #F6F8FA;
    cursor: not-allowed;
    pointer-events: none;
}

.plus_sign.disabled path{
    stroke: #CDD5DF;
}

.text-xs-semi-bold{
    font-family: var(--font-family-body);
    font-size: var(--font-size-t-xs);
    font-weight: var(--font-weight-semi-bold);
    line-height: var(--font-line-height-t-xs);
    margin: var(--spacing-none);
    padding: var(--spacing-none);
    display: inline-block;
}

.text-xs-semi-bold::before,
.text-xs-semi-bold::after{
    content: "";
    display: table;
}

.text-xs-semi-bold::before{
    margin-bottom: -0.321em;
}

.text-xs-semi-bold::after{
    margin-top: -0.416em;
}