@import '../../global/global.css';
@import '../../global/spacing.css';
@import '../../global/typography.css';

img {
    width: 93.75px;
    height: 93.75px;
    flex-shrink: 0;
}

.notification-pane {
    display: inline-flex;
    padding: var(--spacing-2);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-2);
    border-radius: var(--rounded-md);
    border: 1px solid #E3E8EF;
    background: #FFFFFF;
    box-shadow: var(--shadow-md);
}