@import './../../global/global.css';
@import './../../global/spacing.css';

.carousel_arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: var(--blur-sm);
    width: fit-content;
    height: fit-content;
    background-color: blue;
}

.carousel_arrow.md{
    padding: var(--spacing-2);
    border-radius: var(--rounded-full);
}

.carousel_arrow.lg{
    padding: 0.625rem;
    border-radius: var(--rounded-full);
}