@import './../../global/global.css';
@import './../../global/spacing.css';
@import './../../global/typo.css';

:host{
    display: flex;
    align-items: center;
    height: 100%;
}

div {
    display: inline-flex;
    align-items: flex-start;
}