@import '../../global/global.css';
@import '../../global/spacing.css';
@import '../../global/typography.css';

.simple-dropdown {
    display: inline-flex;
    padding: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    border-radius: var(--rounded-sm);
    border: 1px solid var(--color-border-subtler, #E3E8EF);
    background: var(--color-surface, #FFFFFF);
    box-shadow: var(--shadow-lg);
}

.profile {
    display: flex;
    width: 15rem;
    padding: var(--spacing-1) var(--spacing-3);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-none);
    border-radius: var(--rounded-none);
    border-bottom: 1px solid var(--color-boarder-subtler, #E3E8EF);
}

.complex-dropdown {
    display: inline-flex;
    padding: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    border-radius: var(--rounded-sm);
    border: 1px solid #E3E8EF;
    background: #FFFFFF;
    box-shadow: var(--shadow-lg);
}

.menu-items {
    display: flex;
    width: 96.5%;
    padding: var(--spacing-none);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-none);
}

.list {
    padding: var(--spacing-1) var(--spacing-none);
    align-self: stretch;
    border-radius: var(--rounded-none);
}

.list-group-one,
.list-group-two,
.list-group-three{
    width: 100%;
    padding: var(--spacing-1) var(--spacing-none);
}

.list-group-one,
.list-group-two{
    border-bottom: 1px solid var(--color-border-subtler, #E3E8EF);
}

.one,
.two,
.three{
    width: 96.5%;
}

.label_group {
    display: flex;
    padding: 0px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: var(--rounded-none);
}


::slotted([slot='name']) {
    color: #4B5565;
    /* Text sm/Semibold */
    font-family: var(--Font-Family-Body, Sora);
    font-size: var(--Font-Size-T-sm, 14px);
    font-style: normal;
    font-weight: var(--Font-Weight-Semi-Bold, 600);
    line-height: var(--Font-Line-height-T-sm, 20px); /* 142.857% */
    letter-spacing: var(--Font-Letter-spacing-T-sm, 0px);
}

::slotted([slot='supporting_text']) {
    margin-top: -20px;
    color: #697586;
    /* Text sm/Regular */
    font-family: var(--Font-Family-Body, Sora);
    font-size: var(--Font-Size-T-sm, 14px);
    font-style: normal;
    font-weight: var(--Font-Weight-Regular, 400);
    line-height: var(--Font-Line-height-T-sm, 20px); /* 142.857% */
    letter-spacing: var(--Font-Letter-spacing-T-sm, 0px);
}