@import './../../global/global.css';
@import './../../global/spacing.css';
@import './../../global/typography.css';

button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: var(--spacing-3);
    border: none;
    border-radius: var(--rounded-sm);
    font-family: var(--font-family);
    /* box-shadow: var(--shadow-xs); */
    cursor: pointer;
}

.icon {
    display: flex;
    align-items: center;
}

.icon img {
  width: var(--spacing-6);
  height: var(--spacing-6);
}

/* Sizes */
button.default.xl2 {
  height: 3.5rem;
  padding: var(--spacing-none) var(--spacing-6);
}
  
button.default.xl {
  padding: var(--spacing-3) var(--spacing-5);
  height: 3rem;
}
  
button.default.lg {
  padding: 0.625rem 1.125rem;
  height: 2.75rem;
}

button.default.md {
  height: 2.5rem;
  padding: 0.625rem var(--spacing-4);
}

button.default.sm {
  height: 2.25rem;
  padding: var(--spacing-none) var(--spacing-3);
}

button.only.xl2{
  width: 3.5rem;
  height: 3.5rem;
  padding: var(--spacing-none);
}

button.only.xl{
  width: 3rem;
  height: 3rem;
  padding: var(--spacing-none);
}

button.only.lg{
  width: 2.75rem;
  height: 2.75rem;
  padding: var(--spacing-none);
}

button.only.md{
  width: 2.5rem;
  height: 2.5rem;
  padding: var(--spacing-none);
}

button.only.sm{
  width: 2.25rem;
  height: 2.25rem;
  padding: var(--spacing-none);
}

/* Hierarchies */
button.primary {
  background-color: var(--color-background-brandRed, #E21B2E);
  color: var(--color-text-inverse, #FFFFFF);
}

button.secondary_gray {
  background-color: transparent;
  border: 1px solid var(--color-border, #9AA4B2);
  color: var(--color-text, #4B5565);
}

button.secondary_color {
  background-color: transparent;
  color: var(--color-text-brandRed, #E21B2E);
  border: 1px solid var(--color-border-brandRed, #E21B2E);
}

button.tertiary_gray{
  background-color: transparent;
  color: var(--color-text, #4B5565);
}

button.tertiary_color{
  background-color: transparent;
  color: var(--color-text-brandRed, #E21B2E);
}

button.link_gray{
  background-color: transparent;
  height: fit-content;
  color: var(--color-text, #4B5565);
  padding: var(--spacing-none);
  border-radius: var(--rounded-none);
}

button.link_color{
  background-color: transparent;
  height: fit-content;
  padding: var(--spacing-none);
  color: var(--color-link, #075DB2);
  border-radius: var(--rounded-none);
}

/* States */
button.primary:hover {
  background-color: var(--color-background-brandRed-hover, #CC1A2A);
}

button.primary:active {
  background-color: var(--color-background-brandRed-pressed, #B51726);
}

button.secondary_gray:hover {
  background-color: var(--color-background-gray-subtler, #EEF2F6);
}

button.secondary_gray:active {
  background-color: var(--color-background-gray-subtle, #E3E8EF);
}

button.secondary_color:hover{
  background-color: var(--color-background-danger-subtlest, #FEF1F2);
}

button.secondary_color:active {
  background-color: var(--color-background-danger-subtler, #FDE3E5);
}

button.tertiary_gray:hover {
  background-color: var(--color-background-gray-subtler, #EEF2F6);
}

button.tertiary_gray:active {
  background-color: var(--color-background-gray-subtle, #E3E8EF);
}

button.tertiary_color:hover {
  background-color: var(--color-background-danger-subtlest, #FEF1F2);
}

button.tertiary_color:active {
  background-color: var(--color-background-danger-subtler, #FDE3E5);
}

button.link_gray:hover, button.link_color:hover {
  text-decoration: underline;
}

button.link_gray:active, button.link_color:active {
  text-decoration: underline;
}

button.primary.destructive:hover{
  background-color: var(--color-background-danger-bold, #8C121D);
}

button.primary.destructive:active{
  background-color: var(--color-background-brandRed-hover, #CC1A2A); /* ask Mr Gideon about this */
}

button.secondary_gray.destructive:hover, 
button.secondary_color.destructive:hover{
  background-color: var(--color-background-danger-subtlest, #FEF1F2);
}

button.secondary_gray.destructive:active, 
button.secondary_color.destructive:active{
  background-color: var(--color-background-danger-subtler, #FDE3E5);
}

button.tertiary_gray.destructive:hover, 
button.tertiary_color.destructive:hover{
  background-color: var(--color-background-danger-subtlest, #FEF1F2);
}

button.tertiary_gray.destructive:active, 
button.tertiary_color.destructive:active{
  background-color: var(--color-background-danger-subtler, #FDE3E5);
}

button.link_gray.destructive:active{
  color: var(--color-text-danger-bold, #8C121D);
}

button.link_color.destructive:active{
  color: var(--color-text-warning-bold, #93370D);
}

/* Destructive Button Styles */
button.primary.destructive{
  background-color: var(--color-background-danger, #B51726);
  color: var(--color-text-inverse, #FFFFFF);
}

button.secondary_gray.destructive, button.secondary_color.destructive{
  border: 1px solid var(--color-border-danger, #B51726);
  color: var(--color-text-danger, #B51726);
}

button.tertiary_gray.destructive,
button.tertiary_color.destructive{
  color: var(--color-text-danger, #B51726);
}

button.link_gray.destructive, 
button.link_color.destructive{
  color: var(--color-text-danger, #B51726);
}

/* Disabled Styles */
button.primary.disabled {
  background-color: var(--color-background-disabled, #F6F8FA);
  color: var(--color-text-disabled, #CDD5DF);
  pointer-events: none;
  cursor: not-allowed;
}

button.secondary_gray.disabled,
button.secondary_color.disabled {
  color: var(--color-text-disabled, #CDD5DF);
  border-color: var(--color-border-disabled, #E3E8EF);
  pointer-events: none;
  cursor: not-allowed;
}

button.tertiary_gray.disabled,
button.tertiary_color.disabled {
  color: var(--color-text-disabled, #CDD5DF);
  box-shadow: none;
  pointer-events: none;
  cursor: not-allowed;
}

button.link_gray.disabled, button.link_color.disabled {
  color: var(--color-text-disabled, #CDD5DF);
  pointer-events: none;
  cursor: not-allowed;
}

.icon svg{
  stroke: red;
}