@import './../../global/global.css';
@import './../../global/spacing.css';
@import './../../global/typography.css';

:host {
  --button-color: var(--primary-color);
  --icon-color: var(--primary-color);
}

button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  cursor: pointer;
  border-radius: var(--rounded-sm);
  width: 100%;
}

button.only{
  display: flex;
  justify-content: center;
  align-items: center;
}

button .icon {
  display: inline-flex;
  width: auto;
  height: auto;
}

button .icon svg path[fill] {
  fill: var(--icon-color);
}

button .icon svg path[stroke] {
  stroke: var(--icon-color);
}

button .icon svg circle {
  stroke: var(--icon-color);
}

/* Button Sizes Styles */
button.xl2{
  padding: var(--spacing-none) var(--spacing-6);
  height: 3.5rem;
  gap: var(--spacing-3);
}

button.xl{
  padding: var(--spacing-none) var(--spacing-5);
  height: 3rem;
  gap: var(--spacing-2);
}

button.lg{
  padding: 0.625rem 1.125rem;
  height: 2.75rem;
  gap: var(--spacing-2);
}

button.md{
  padding: var(--spacing-none) var(--spacing-4);
  height: 2.5rem;
  gap: var(--spacing-2);
}

button.sm{
  padding: var(--spacing-none) var(--spacing-3);
  height: 2.25rem;
  gap: var(--spacing-2);
}

button.only.xl2{
  width: 3.5rem;
  height: 3.5rem;
}

button.only.xl{
  width: 3rem;
  height: 3rem;
}

button.only.lg{
  width: 2.75rem;
  height: 2.75rem;
}

button.only.md{
  width: 2.5rem;
  height: 2.5rem;
}

button.only.sm{
  width: 2.25rem;
  height: 2.25rem;
}

button.xl2 .icon svg{
  width: var(--spacing-6);
  height: var(--spacing-6);
}

button.xl .icon svg,
button.lg .icon svg,
button.md .icon svg,
button.sm .icon svg{
  width: var(--spacing-5);
  height: var(--spacing-5);
}

/* Hierarchy Styles */
button.primary {
  background-color: var(--color-background-brandRed, #E21B2E);
  --icon-color: var(--color-icon-inverse, #FFFFFF);
  color: var(--color-text-inverse, #FFFFFF);
}

button.secondary_gray {
  background-color: transparent;
  border: 1px solid var(--color-border, #9AA4B2);
  --icon-color: var(--color-icon, #4B5565);
  color: var(--color-text, #4B5565);
}

button.secondary_color {
  background-color: transparent;
  border: 1px solid var(--color-border-brandRed, #E21B2E);
  --icon-color: var(--color-icon-brandRed, #E21B2E);
  color: var(--color-text-brandRed, #E21B2E);
}

button.tertiary_gray {
  background-color: transparent;
  --icon-color: var(--color-icon, #4B5565);
  color: var(--color-text, #4B5565);
}

button.tertiary_color {
  background-color: transparent;
  --icon-color: var(--color-icon-brandRed, #E21B2E);
  color: var(--color-text-brandRed, #E21B2E);
}

button.link_gray {
  background-color: transparent;
  --icon-color: var(--color-icon, #4B5565);
  color: var(--color-text, #4B5565);
  padding: var(--spacing-none);
  height: fit-content;
}

button.link_color {
  background-color: transparent;
  --icon-color: var(--color-link, #075DB2);
  color: var(--color-link, #075DB2);
  padding: var(--spacing-none);
  height: fit-content;
}

/* Button Destructive Styles */
button.primary.destructive{
  background-color: var(--color-background-danger, #B51726);
  color: var(--color-text-inverse, #FFFFFF);
  --icon-color: var(--color-icon-danger-inverse, #FFFFFF);
}

button.secondary_gray.destructive, button.secondary_color.destructive{
  border: 1px solid var(--color-border-danger, #B51726);
  color: var(--color-text-danger, #B51726);
  --icon-color: var(--color-icon-danger, #B51726);
}

button.tertiary_gray.destructive,
button.tertiary_color.destructive{
  color: var(--color-text-danger, #B51726);
  --icon-color: var(--color-icon-danger, #B51726);
}

button.link_gray.destructive, 
button.link_color.destructive{
  color: var(--color-text-danger, #B51726);
  --icon-color: var(--color-icon-danger, #B51726);
}

/* Button States Styles */
button.primary:hover{
  background-color: var(--color-background-brandRed-hover, #CC1A2A);
}

button.primary:active{
  background-color: var(--color-background-brandRed-pressed, #B51726);
}

button.secondary_gray:hover{
  background-color: var(--color-background-gray-subtler, #EEF2F6);
}

button.secondary_gray:active{
  background-color: var(--color-background-gray-subtle, #E3E8EF);
}

button.secondary_color:hover{
  background-color: var(--color-background-danger-subtlest, #FEF1F2);
}

button.secondary_color:active{
  background-color: var(--color-background-danger-subtler, #FDE3E5);
}

button.tertiary_gray:hover{
  background-color: var(--color-background-gray-subtler, #EEF2F6);
}

button.tertiary_gray:active{
  background-color: var(--color-background-gray-subtle, #E3E8EF);
}

button.tertiary_color:hover{
  background-color: var(--color-background-danger-subtlest, #FEF1F2);
}

button.tertiary_color:active{
  background-color: var(--color-background-danger-subtler, #FDE3E5);
}

button.link_gray:hover,
button.link_color:hover{
  text-decoration: underline;
}

button.link_gray:active{
  text-decoration: none;
  color: var(--color-text-bold, #202939);
}

button.link_gray:active{
  text-decoration: none;
  color: var(--color-link-pressed, #064E94);
}

button.primary.destructive:hover{
  background-color: var(--color-background-danger-bold, #8C121D);
}

button.primary.destructive:active{
  background-color: var(--color-background-brandRed-hover, #CC1A2A); /* ask Mr Gideon about this */
}

button.secondary_gray.destructive:hover, 
button.secondary_color.destructive:hover{
  background-color: var(--color-background-danger-subtlest, #FEF1F2);
}

button.secondary_gray.destructive:active, 
button.secondary_color.destructive:active{
  background-color: var(--color-background-danger-subtler, #FDE3E5);
}

button.tertiary_gray.destructive:hover, 
button.tertiary_color.destructive:hover{
  background-color: var(--color-background-danger-subtlest, #FEF1F2);
}

button.tertiary_gray.destructive:active, 
button.tertiary_color.destructive:active{
  background-color: var(--color-background-danger-subtler, #FDE3E5);
}

button.link_gray.destructive:active{
  color: var(--color-text-danger-bold, #8C121D);
}

button.link_color.destructive:active{
  color: var(--color-text-warning-bold, #93370D);
}

/* Button Disabled Styles */
button.disabled{
  cursor: not-allowed;
  pointer-events: none;
}

button.primary.disabled {
  background-color: var(--color-background-disabled, #F6F8FA);
  --icon-color: var(--color-icon-disabled, #CDD5DF);
  color: var(--color-text-disabled, #CDD5DF);
}

button.secondary_gray.disabled,
button.secondary_color.disabled{
  --icon-color: var(--color-icon-disabled, #CDD5DF);
  color: var(--color-text-disabled, #CDD5DF);
  border-color: var(--color-border-disabled, #E3E8EF);
}

button.tertiary_gray.disabled,
button.tertiary_color.disabled,
button.link_gray.disabled,
button.link_color.disabled{
  --icon-color: var(--color-icon-disabled, #CDD5DF);
  color: var(--color-text-disabled, #CDD5DF);
}

.nowrap{
  white-space: nowrap;
}

.center{
  flex-grow: 1;
}