@import  './../../global/global.css';
@import  './../../global/spacing.css';
@import  './../../global/typography.css';

.input_container,
.input_with_label{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.label{
  color: var(--color-text, #4B5565);
}

.hint_text{
  color: var(--color-text-subtle, #697586);
}

.content{
  width: 100%;
  /* height: 100%; */
  border: none;
}

.content::placeholder{
  color: var(--color-text-disabled, #CDD5DF);
}

.content:focus{
  outline: none;
}

.icon{
  display: flex;
  align-items: center;
}

.input{
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  align-self: stretch;
  border-radius: var(--rounded-sm);
}

.input,
.input.icon_leading,
.password_input{
  border: 1px solid var(--color-border-input, #CDD5DF);
  background: var(--color-background-card, #FFFFFF);
}

.input.leading_text{
  flex-grow: 1;
  border-radius: var(--rounded-none, 0rem) 0.5rem 0.5rem var(--rounded-none, 0rem);
}

.leading_text_input{
  display: flex;
  gap: var(--spacing-none);
  padding: var(--spacing-none);
}

.add_on{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-border-input, #CDD5DF);
  border-right: none;
  padding: var(--spacing-2) var(--spacing-3);
  border-radius: 0.5rem var(--rounded-none) var(--rounded-none) 0.5rem;
}

.text_input{
  flex-grow: 1;
  height: 100%;
}

.trailing_button_text_input{
  display: flex;
  flex-grow: 1;
}

.help_circle{
  display: flex;
  align-items: center;
}

/* Size Styles */
.input.sm{
  min-height: 2.5rem;
  padding: var(--spacing-2) var(--spacing-3) var(--spacing-2) var(--spacing-3);
}

.input.md{
  min-height: 3rem;
  padding: var(--spacing-none) var(--spacing-3);
}

/* State Styles */
.input:focus-within,
.password_input:focus-within,
.count_text_input:focus-within{
  border: 1.3px solid var(--color-border-selected, #075DB2);
}

.input.disabled,
.password_input.disabled,
.count_text_input.disabled,
.action.disabled{
  border: 1px solid var(--color-border-disabled, #E3E8EF);
}

.input.disabled,
.content.disabled,
.password_input.disabled,
.count_text_input.disabled{
  background: var(--color-background-disabled, #F6F8FA);
  color: var(--color-text-subtle, #697586); 
  cursor: not-allowed;
  pointer-events: none;
}

.icon.disabled path[stroke]{
  stroke: var(--color-icon-disabled, #CDD5DF);
}

.input.destructive,
.input.icon_leading.destructive,
.count_text_input.destructive{
  border: 1px solid var(--color-border-danger, #B51726); 
}

::slotted([slot="tooltip_label"]){
  white-space: nowrap;
  color: var(--color-text, #4B5565);
}

::slotted([slot="tooltip_supporting_text"]){
  min-width: fit-content;
  max-width: 18.5rem;
  color: var(--color-text-subtle, #697586);
  margin-top: 5rem;
}

/* Type Styles */
.password_input{
  display: flex;
  gap: var(--spacing-3);
  align-items: center;
  align-self: stretch;
  border-radius: var(--rounded-sm);
}

.password_content{
  display: flex;
  gap: var(--spacing-2);
  padding: 0.625rem var(--spacing-none) 0.625rem 0.875rem;
  flex-grow: 1;
}

.dropdown{
  padding-right: var(--spacing-half);
  padding-left: var(--spacing-3);
}

.password_icon_leading_content{
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: var(--spacing-2);
}

.count_input{
  display: flex;
  gap: var(--spacing-none);
}

.count_text_input{
  display: flex;
  padding: var(--spacing-none) var(--spacing-3);
  align-items: center;
  gap: var(--spacing-2);
  flex: 1 0 0;
  align-self: stretch;
  border: 1px solid var(--color-border-input, #CDD5DF);
  border-radius: 0.5rem var(--rounded-none) var(--rounded-none) 0.5rem;
}

.action{
  border: 1px solid var(--color-border-input, #CDD5DF);
  border-left: none;
  display: flex;
  padding-right: var(--spacing-1);
  align-items: center;
  gap: var(--spacing-none);
  align-self: stretch;
  border-radius: var(--rounded-none) 0.5rem 0.5rem var(--rounded-none);
}

hr{
  height: 100%;
  border: 0.5px solid var(--color-border-input, #CDD5DF);
}