@import './../../global/global.css';
@import './../../global/spacing.css';
@import './../../global/typo.css';

div {
  font-family: var(--Font-Family-Body, Sora);
  font-style: normal;
  letter-spacing: var(--Font-Letter-spacing-T-md, 0rem);
}

div.sm {
  display: flex;
  width: 20rem;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-2);
}

div.md {
  display: flex;
  width: 20rem;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-2);
}

.input-with-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-2);
  align-self: stretch;
}

.sm .input-wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 40px 2.5rem;
  padding: var(--spacing-Positive-spacing-2, 0.5rem) var(--spacing-Positive-spacing-3, 0.75rem) var(--spacing-Positive-spacing-2, 0.5rem) var(--spacing-3);
  align-items: center;
  gap: var(--spacing-Positive-spacing-2, 0.5rem);
  align-self: stretch;
}

.md .input-wrapper{
  display: flex;
  justify-content: space-between;
  min-height: 3rem;
  padding: var(--spacing-3) 0.875rem var(--spacing-3) var(--spacing-3);
  align-items: center;
  gap: var(--spacing-Positive-spacing-2, 0.5rem);
  align-self: stretch;
}

.input-wrapper {
  border-radius: var(--rounded-sm);
  border: 1px solid var(--color-boarder-input, #CDD5DF);
  background: var(--color-background-card, #FFFFFF);
}

.input-wrapper:active {
  border-radius: 0.5rem;
  border: 1.3px solid var(--color-border-selected,#075DB2);
  background: var(--color-background-card, #FFFFFF);
}

.disabled .input-wrapper {
  border-radius: 0.5rem;
  border: 1px solid var(--color-boarder-disabled, #E3E8EF);
  background: var(--color-background-disabled, #F6F8FA);
}

input {
  border: none; 
  background-color: var(--color-background-card, #FFFFFF); 
  padding: 2px;
  color: #374151; /* Text color */
  box-shadow: none; /* Remove default box shadow */
  outline: none; /* Remove the blue outline on focus */
}

input:focus {
  border:none; /* Maintain light border on focus */
  box-shadow: none; /* Ensure no additional shadow appears on focus */
}

.help-icon svg{
  position: relative;
  left: 13%;
  top: 3px;
}