@import './../../global/global.css';
@import './../../global/spacing.css';
@import './../../global/typography.css';

div {
  font-family: var(--font-family-body);
  font-style: normal;
  letter-spacing: var(--Font-Letter-spacing-T-md, 0rem);
}

div.sm {
  display: flex;
  width: 20rem;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-2);
}

div.md {
  display: flex;
  width: 20rem;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-2);
}

.input-with-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-2);
  align-self: stretch;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-2);
  align-self: stretch;
  border-radius: var(--rounded-sm);
  border: 1px solid var(--color-border-input, #CDD5DF);
  background: var(--color-background-card, #FFFFFF);
}

.sm .input-wrapper {
  height: var(--spacing-Positive-spacing-8, 2.5rem);
  padding: 0.25rem var(--spacing-3, 0.75rem);
}

.md .input-wrapper{
  height: 3rem;
  padding: 0.45rem var(--spacing-3, 0.75rem);
}

.leading_text .input-wrapper.sm,
.leading_text .input-wrapper.md {
  flex-direction: row;
}

.count .input-wrapper.md,
.count .input-wrapper.sm {
  padding: 0;
  flex-direction: row;
}

.input-wrapper:focus-within,
.leading_text:focus-within .text-input {
  border: 1.3px solid var(--color-border-selected,#075DB2);
}

.input-wrapper.disabled,
.leading_text.disabled .text-input {
  border: 1px solid var(--color-border-disabled, #E3E8EF);
  background: var(--color-background-disabled, #F6F8FA);
  pointer-events: none;
  cursor: not-allowed;
}

.input-wrapper.disabled input,
.leading_text.disabled input{
  background: var(--color-background-disabled, #F6F8FA);
}

.content{
  display: flex;
  align-items: center;
  align-content: center;
  gap: 0.5rem var(--spacing-2);
  flex: 1 0 0;
  align-self: stretch;
}

.password .content{
  padding: var(--spacing-2) var(--spacing-none) var(--spacing-2) var(--spacing-3);
  flex-wrap: wrap;
}

.icon {
  position: relative;
  top: 3px;
}

.leading_text{
  display: flex;
}

.leading_text_wrapper{
  display: flex;
  width: fit-content;
  border-radius: var(--rounded-sm);
}

.add-on {
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: var(--spacing-2) var(--spacing-3);
  border-radius: 0.5rem var(--rounded-none) var(--rounded-none) 0.5rem;
  border: 1px solid var(--color-border-input, #CDD5DF);
  border-right: none;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
  align-self: stretch;
  margin-top: 0.1rem;
}

select {
  border: none; 
  background-color: var(--color-background-card, #FFFFFF); 
  color: #374151; /* Text color */
  box-shadow: none; /* Remove default box shadow */
  outline: none;
}

select:focus {
  border:none; /* Maintain light border on focus */
  box-shadow: none; /* Ensure no additional shadow appears on focus */
}

.text-input {
  display: flex;
  align-items: center;
  gap: var(--spacing-Positive-spacing-2, 0.5rem);
  flex: 1 0 0;
  align-self: stretch;
}

.trailing_button .text-input {
  padding: var(--spacing-Positive-spacing-2, 0.5rem) var(--spacing-Positive-spacing-3, 0.75rem);
}

.count .text-input {
  padding: var(--spacing-Positive-spacing-2, 0.5rem) 0rem var(--spacing-Positive-spacing-2, 0.5rem) var(--spacing-Positive-spacing-3, 0.75rem);
  border-radius: 0.5rem var(--Radius-rounded-none, 0rem) var(--Radius-rounded-none, 0rem) 0.5rem;
  border: 1px solid var(--color-boarder-input, #CDD5DF);
}

.leading_dropdown .text-input {
  padding: var(--spacing-Positive-spacing-2, 0.5rem) var(--spacing-Positive-spacing-3, 0.75rem) var(--spacing-Positive-spacing-2, 0.5rem) 0rem;
}

.leading_text .text-input {
  width: 14.4rem;
  padding: 0.625rem 0.875rem;
  border: 1px solid var(--gray-300, #D0D5DD);
  border-radius: 0 var(--rounded-sm) var(--rounded-sm) 0;
}

.leading_text.destructive .text-input {
  border: 1.5px solid var(--color-border-danger, #B51726);
}

.trailing_dropdown .dropdown {
  display: flex;
  padding: var(--spacing-Positive-spacing-2, 0.5rem) var(--spacing-Positive-spacing-3, 0.75rem) var(--spacing-Positive-spacing-2, 0.5rem) 0rem;
  justify-content: space-between;
}

.count-action {
  display: flex;
  justify-content: space-between;
  padding-right: var(--spacing-1);
  align-items: center;
  gap: var(--spacing-none);
}

.decrease-btn {
  display: flex;
  width: var(--spacing-Positive-spacing-8, 2.5rem);
  height: var(--spacing-Positive-spacing-8, 2.5rem);
  justify-content: center;
  align-items: center;
  border-radius: var(--rounded-none);
  border-right: 1px solid var(--color-border-input, #CDD5DF);
}

.payment-method {
  display: flex;
  width: 2.125rem;
  height: var(--spacing-Positive-spacing-6, 1.5rem);
  justify-content: center;
  align-items: center;
  border-radius: var(--Radius-rounded-xs, 0.25rem);
  border: 1px solid var(--color-border-subtler, #E3E8EF);
  background: var(--color-background-card, #FFFFFF);
}

.tags-box {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 0.375rem;
  flex-wrap: wrap;
}

.tags input {
  width: 160px;
  padding-right: 8px;
}

input {
  border: none; 
  background-color: var(--color-background-card, #FFFFFF); 
  color: var(--color-text, #4B5565);
  box-shadow: none; /* Remove default box shadow */
  outline: none;
  font-family: var(--Font-Family-Body, Sora);
  font-style: normal;
  letter-spacing: var(--Font-Letter-spacing-T-md, 0rem);
  width: 100%;
}

.input-wrapper.destructive{
  border: 1px solid var(--color-border-danger, #B51726);
}

.trailing-btn {
  display: flex;
  width: var(--spacing-Positive-spacing-8, 2.5rem);
  height: var(--spacing-Positive-spacing-8, 2.5rem);
  justify-content: center;
  align-items: center;
}

.trailing_dropdown .help-icon {
  margin-left: -5px;
}

.password_icon_leading .help-icon {
  margin-left: -15px;
}

.password_icon_leading .help-icon svg {
  padding-right: 5px;
}

.trailing_dropdown .help-icon svg {
  position: relative;
  left: 5%;
  top: 2px;
}

.tags .help-icon svg {
  left: -52%;
}

.help-svg {
  margin-right: 0.4rem;
}

label{
  color: var(--color-text, #4B5565);
}

.hint_text{
  color: var(--color-text-subtle, #697586); 
}

.hint_text.destructive{
  color: var(--color-text-danger, #B51726);
}

/* Destructive State Styles */
.help_icon.destructive{
  stroke: var(--color-icon-danger, #B51726);
}