@import './../../global/global.css';
@import './../../global/spacing.css';
@import './../../global/typo.css';
@import './../../global/typography.css';

div{
    display: inline-flex;
    padding: var(--spacing-none) var(--spacing-1);
    align-items: center;
    gap: var(--spacing-none);
    flex-shrink: 0;
    text-align: center;
    font-style: normal;
    font-weight: var(--font-weight-medium, 500);
    letter-spacing: 0.5px;
}

.label {
    font-family: var(--font-family-body);
    padding: 2px;
}

.icon {
    display: flex;
    align-items: center;
}

div.sm{
    height: 22px;
    min-height: 22px;
    font-family: sans-serif;
    font-size: var(--text-xs-medium-font-size, 12px);
    line-height: var(--text-xs-medium-line-height, 18px); 
}

div.md {
    height: var(--spacing-6);
    min-height: var(--spacing-6);
    font-family: sans-serif;
    font-size: var(--text-sm-medium-font-size, 14px);
    line-height: var(--text-sm-medium-line-height, 20px); 
}

div.lg {
    height: 28px;
    min-height: 28px;
    padding: var(--spacing-none) var(--spacing-2);
    font-family: sans-serif;
    font-size: var(--text-sm-medium-font-size, 14px);
    line-height: var(--text-sm-medium-line-height, 1.25rem);
}

div.pill_color {
    border-radius: var(--rounded-full);
}

div.pill_color.gray,
.badge_color.gray {
    border: 1px solid #E3E8EF /*var(--color-boarder-subtler)*/;
    background: #EEF2F6 /*var(--color-background-gray-subtler)*/;
    color: #4B5565;
}

.pill_color.primary,
.badge_color.primary {
    border: 1px solid #C8E0F9 /*Color/Border/border-information-subtler*/;
    background: #E4F0FC /*var(--color-background-information-subtlest)*/;
    color: #212C65;
}

.pill_color.error,
.badge_color.error {
    border: 1px solid #FDE3E5 /*var(--color-border-danger-subtler)*/;
    background: #FEF1F2 /*var(--color-background-danger-subtlest)*/;
    color: #B51726;
}

.pill_color.warning,
.badge_color.warning {
    border: 1px solid #FEF0C7;
    background: #FFFAEB;
    color: #DC6803;
}

.pill_color.success,
.badge_color.success {
    border: 1px solid #DCFAE6;
    background: #ECFDF3;
    color: #079455;
}

.pill_color.discovery,
.badge_color.discovery {
    border: 1px solid #E0F2FE;
    background: #F0F9FF;
    color: #0086C9;
}

.pill_color.information,
.badge_color.information {
    border: 1px solid #C8E0F9 /*Color/Border/border-information-subtler*/;
    background: #E4F0FC /*var(--color-background-information-subtlest)*/;
    color: #064E94;
}

.pill_color.pink,
.badge_color.pink {
    border: 1px solid #FCE7F6;
    background: #FDF2FA;
    color: #DD2590;
}

.pill_color.purple,
.badge_color.purple {
    border: 1px solid #EBE9FE;
    background: #F4F3FF;
    color: #6938EF;
}

.pill_color svg,
.badge_color svg,
.pill_outline svg,
.badge_modern svg {
    width: var(--spacing-2);
    height: var(--spacing-2);
    display: flex;
    align-items: center;
    fill: currentColor; /* Use the current text color */
    stroke: currentColor;
}

.gray svg path {
    fill: #4B5565;
    stroke:  #4B5565 /*var(--color-icon)*/;
}

.primary svg path {
    fill: #212C65;
    stroke: #212C65;
}

.error svg path {
    fill: #B51726;
    stroke: #B51726;
}

.warning svg path {
    fill: #DC6803;
    stroke: #DC6803;
}

.success svg path{
    fill: #079455;
    stroke: #079455;
}

.discovery svg path {
    fill: #0BA5EC;
    stroke: #0BA5EC/*Blue light/500*/;
}

.information svg path {
    fill: #064E94;
    stroke: #064E94;
}

.pink svg path{
    fill: #DD2590;
    stroke: #DD2590;
}

.purple svg path {
    fill: #6938EF;
    stroke: #6938EF;
}

.pill_outline {
    border-radius: var(--rounded-full);
}

.pill_outline.gray {
    border: 1.5px solid #4B5565;
    color: #4B5565;
}

.pill_outline.primary {
    border: 1.5px solid #212C65;
    color:#212C65;
}

.pill_outline.error {
    border: 1.5px solid #B51726;
    color:#B51726;
}

.pill_outline.warning {
    border: 1.5px solid #DC6803;
    color:#DC6803;
}

.pill_outline.success {
    border: 1.5px solid #079455;
    color:#079455;
}

.pill_outline.discovery {
    border: 1.5px solid #0086C9;
    color: #0086C9;
}

.pill_outline.information {
    border: 1.5px solid #064E94;
    color: #064E94;
}

.pill_outline.pink {
    border: 1.5px solid #DD2590;
    color: #DD2590;
}

.pill_outline.purple {
    border: 1.5px solid #6938EF;
    color: #6938EF;
}

.badge_color {
    border-radius: var(--rounded-xs);
}

.badge_modern {
    border-radius: var(--rounded-xs);
    border: 1px solid #E3E8EF;

    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #4B5565;
}

.icon img {
    width: var(--spacing-4);
    height: var(--spacing-4);
    fill: currentColor;
    stroke: currentColor;
    /* Color handling for SVGs */
}

.icon.left-icon img,
.icon.right-icon img {
    color: currentColor; /* Ensures that the image color uses currentColor */
}

.gray .icon img {
    color: #4B5565;
}

.primary .icon img {
    color: #212C65;
}

.error .icon img {
    color: #B51726;
}

.warning .icon img {
    color: #DC6803;
}

.success .icon img {
    color: #079455;
}

.discovery .icon img {
    color: #0BA5EC;
}

.information .icon img {
    color: #064E94;
}

.pink .icon img {
    color: #DD2590;
}

.purple .icon img {
    color: #6938EF;
}

#icon-only {
    display: flex;
    padding: var(--spacing-none);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-1);
    width: var(--spacing-4);
    height: var(--spacing-4);
    flex-shrink: 0;
    border-radius: var(--rounded-full);
}