@import './../../global/global.css';
@import './../../global/spacing.css';
@import './../../global/typo.css';

div {
  display: flex;   
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-Positive-spacing-2, 0.5rem);
  border-radius: 8px;
  border: 1px solid var(--color-boarder-input, #CDD5DF);
}

div.sm {
  width: 2.75rem;
  min-width: 2.75rem;
  min-height: 2.75rem;
  padding: var(--spacing-Positive-spacing-half, 0.125rem);
}

div.md {
  width: 3rem;
  min-width: 3rem;
  min-height: 3rem;
  padding: 0.625rem var(--spacing-Positive-spacing-2, 0.5rem);
}

div.lg {
  width: 3.5rem;
  min-width: 3.5rem;
  min-height: 3.5rem;
  padding: var(--spacing-Positive-spacing-3, 0.75rem) var(--spacing-Positive-spacing-2, 0.5rem);
}

div:active {
  border: 1.3px solid var(--color-border-selected, #075DB2);
  color: var(--color-text, #4B5565);
}

div.disabled {
  background: var(--color-background-gray-subtlest, #F6F8FA);
  border: 1px solid var(--color-boarder-disabled, #E3E8EF);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  width: inherit;
  border: none;
  background-color: var(--color-background-card, #FFFFFF); 
  padding: 2px;
  box-shadow: none;
  outline: none;
  text-align: center;
  font-family: Sora;
  font-style: normal;
  font-weight: 500;
  color: var(--color-text-disabled, #CDD5DF); /* Placeholder color */
}

input:focus {
  border:none;
  box-shadow: none;
}

input.sm {
  font-size: 1.5rem;
  line-height: 2rem;
}

input.md {
  font-size: 1.875rem;
  line-height: 2.375rem;
}

input.lg {
  font-size: 1.875rem;
  line-height: 2.375rem;
}

input.disabled {
  background: var(--color-background-gray-subtlest, #F6F8FA);
  color: var(--color-text-disabled, #CDD5DF); 
}

input::placeholder {
  color: var(--color-text-disabled, #CDD5DF);
}

input:not(:placeholder-shown) {
  color: var(--color-text, #4B5565);
}

input.disabled:not(:placeholder-shown) {
  color: var(--color-text-disabled, #CDD5DF);
}
