@import './../../global/global.css';
@import './../../global/spacing.css';
@import './../../global/typo.css';

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-none);
    flex-shrink: 0;
    border-radius: 3px;
    background-color: #EEF2F6;
    height: 20px;
    width: 20px;
}  

div.sm {
    width: var(--spacing-4);
    height: var(--spacing-4);
    padding: var(--spacing-none) var(--spacing-1);
    font-size: var(--Font-Size-T-xs, 12px);
    line-height: var(--Font-Line-height-T-xs, 18px);
}

div.md {
    width: 18px;
    height: 18px;
    padding: var(--spacing-none) 5px;
    font-size: var(--Font-Size-T-xs, 12px);
    line-height: var(--Font-Line-height-T-xs, 18px);
}

div.lg {
    width: var(--spacing-5);
    height: var(--spacing-5);
    padding: var(--spacing-none) 6px;
    font-size: var(--Font-Size-T-sm, 14px);
    line-height: var(--Font-Line-height-T-sm, 20px);
}

p{
    color: var(--color-text);
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: var(--Font-Weight-Medium, 500);
    letter-spacing: var(--Font-Letter-spacing-T-sm, 0px);
}


