@import './../../global/spacing.css';
@import './../../global/typography.css';

.pagination_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entries{
    display: flex;
    gap: var(--spacing-2);
}

.buttons{
    display: flex;
    gap: var(--spacing-3);
}