@import './../../global/global.css';
@import './../../global/spacing.css';

:host{
    position: relative;
}

.collapse_btn{
    background-color: transparent;
    border-radius: var(--rounded-full);
    display: flex;
    width: var(--spacing-7);
    height: var(--spacing-7);
    padding: var(--spacing-2);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-2);
}

.collapse_btn.grey:hover{
    background-color: var(--color-background-gray-subtler, #EEF2F6);
    cursor: pointer;
}

.collapse_btn.grey:active{
    background-color: var(--color-background-gray-subtle, #E3E8EF);
}

.collapse_btn.white:hover{
    background-color: var(--color-blanket-subtle, rgba(33, 44, 101, 0.3));
    cursor: pointer;
}

.collapse_btn.white:active{
    background-color: var(--color-blanket, rgba(33, 44, 101, 0.4));
}

.icon.grey path{
    stroke: var(--color-icon, #4B5565);
}

.icon.white path{
    stroke: var(--color-icon-inverse, #FFFFFF);
}

.tooltip{
    position: absolute;
    left: 3.5rem;
    bottom: 0.5rem;
}

.text-xs-semi-bold{
    font-family: var(--font-family-body);
    font-size: var(--font-size-t-xs);
    font-weight: var(--font-weight-semi-bold);
    line-height: var(--font-line-height-t-xs);
    margin: var(--spacing-none);
    padding: var(--spacing-none);
    display: inline-block;
    position: relative;
}

.text-xs-semi-bold::before,
.text-xs-semi-bold::after{
    content: "";
    display: table;
}

.text-xs-semi-bold::before{
    margin-bottom: -0.321em;
}

.text-xs-semi-bold::after{
    margin-top: -0.416em;
}