@import './../../global/global.css';
@import './../../global/spacing.css';
@import './../../global/typography.css';

.tooltip_container {
  position: relative;
  display: inline-block;
}
 
.tooltip {
  position: absolute;
  background-color: var(--color-surface-bold, #FCFCFC);
  border: 0.5px solid var(--color-border-subtler, #E3E8EF);
  border-radius: var(--rounded-sm);
  box-shadow: var(--shadow-sm);
  padding: var(--spacing-3);
  z-index: 10;
}

.tooltip_content{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}
 
.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
}

.arrow::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}
 
.arrow.bottom_center {
  top: 100%;
  left: 50%;
  border-width: 7.5px 7.5px 0 7.5px;
  border-color: #E3E8EF transparent transparent transparent;
  transform: translateX(-50%);
}

.arrow.bottom_center::before {
  left: -0.39rem;
  bottom: 0.1rem;
  border-width: 0 9.6px 9.6px 9.6px;
  transform: translateY(-50%) rotate(135deg);
  border-color: transparent #fff transparent transparent;
}
 
.arrow.left {
  top: 50%;
  right: 100%;
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent #E3E8EF;
  transform: translateY(-50%) rotate(180deg);
}

.arrow.left::before {
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 7.5px 0 7.5px 7.5px;
  border-color: transparent transparent transparent #fff;
}

.arrow.bottom_left {
  top: 100%;
  left: 20%;
  border-width: 7.5px 7.5px 0 7.5px;
  border-color: #E3E8EF transparent transparent transparent;
  transform: translateX(-50%);
}

.arrow.bottom_left::before {
  left: -0.39rem;
  bottom: 0.1rem;
  border-width: 0 9.6px 9.6px 9.6px;
  transform: translateY(-50%) rotate(135deg);
  border-color: transparent #fff transparent transparent;
}
 
.arrow.right {
  top: 50%;
  left: 100%;
  border-width: 7px 7px 7px 0;
  border-color: transparent #E3E8EF transparent transparent;
  transform: translateY(-50%) rotate(-180deg);
}

.arrow.right::before {
  left: 0.5px;
  top: 50%;
  border-width: 6.5px 6.5px 6.5px 0;
  transform: translateY(-50%) rotate(0deg);
  border-color: transparent #fff transparent transparent;
}

.arrow.bottom_right {
  top: 100%;
  right: 5%;
  border-width: 7.5px 7.5px 0 7.5px;
  border-color: #E3E8EF transparent transparent transparent;
  transform: translateX(-50%);
}

.arrow.bottom_right::before {
  left: -0.39rem;
  bottom: 0.1rem;
  border-width: 0 9.6px 9.6px 9.6px;
  transform: translateY(-50%) rotate(135deg);
  border-color: transparent #fff transparent transparent;
}
 
.arrow.top_center {
  bottom: 100%;
  right: 45%;
  border-width: 0 7.5px 7.5px 7.5px;
  border-color: transparent transparent #E3E8EF transparent;
}

.arrow.top_center::before {
  left: -12.8px;
  bottom: -20.25px;
  border-width: 0 9.5px 9.5px 9.5px;
  transform: translateY(-50%) rotate(-45deg);
  border-color: transparent white transparent transparent;
}

::slotted([slot="label"]){
  white-space: nowrap;
  color: var(--color-text, #4B5565);
}

::slotted([slot="supporting_text"]){
  min-width: fit-content;
  max-width: 18.5rem;
  color: var(--color-text-subtle, #697586);
  margin-top: 5rem;
}